torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
torchtext==0.16.0
torchsde
torchdata==0.7.0
einops
transformers==4.33.1
safetensors>=0.3.0
aiohttp
accelerate
pyyaml
Pillow
scipy
tqdm
psutil
kornia>=0.7.1
websocket-client==1.6.3
albumentations==1.4.3


numba


insightface
onnx


segment-anything
piexif


ultralytics!=8.0.177


importlib_metadata
opencv-python-headless>=4.0.1.24
filelock
numpy
einops
pyyaml
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]


librosa
color-matcher


https://download.pytorch.org/whl/cu121/xformers-0.0.22.post7-cp310-cp310-manylinux2014_x86_64.whl
https://github.com/camenduru/wheels/releases/download/colab/mmcv-2.0.1-cp310-cp310-linux_x86_64.whl
moviepy 
av
diffusers==0.24.0
omegaconf 
transformers==4.33.1 
accelerate==0.29.3 
mmdet
mmpose
